@harset "utf-8"; 

@media (min-width: 100%;)
{}
.container-fluid{
	width:100%;
	}
	{}
	
body{
  background:#221616;

}
.music{
	width:300px;
	height=55px;
}
.header {
	
	padding: 1.8em 0;
	position: relative;
	text-align: center;
	background: #2a2017;
}

.navigation {
	float: right;
}

ul.navig li{
	display: inline-block;
	margin: 0 12px;
	position:relative;
}
ul.navig li a{
	font-size:1em;
	color:#fff;
	font-weight:600;
	text-decoration: none;
}
ul.navig li a:hover ,ul.navig li a.active{
	color: #97262A;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul.navig li a:hover ul.navig li a:after{
	display: block;
}
ul.navig li a:after{
	width:15px;
	height:15px;
	background:red;
	display: none;
	content:"";
	position:absolute;
	top:0;
	
}

.footer{
	text-align:center;
}

.con-way{
	height:54px;
	background:#f5f5f5;
	border-bottom:#ddd solid 1px;
	font-size:20px;
	text-align:center;
	}
.con-way ul li{
	display: inline-block;
	margin: 0 12px;
	position:relative;
	line-height:54px;
	width:20%;
	}

.projects-header{
	width:60%;
	text-align:center;
	margin:60px 0px 10px;
	margin-left:auto;
	margin-right:auto;
	border-bottom:#eee solid 1px;
	margin-bottom:40px;
	}
.projects-header h2{
	font-size:42px;
	}
.project .projects-con{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:48px;
	}
.project .projects-con img{
	padding:4px;
	border:#CCC solid 1px;
	}

.size {width: 660px; height: 450px; vertical-align: middle;}




.footer{
	padding:4em 0px;
	background:#2a2017;
}
.footer-left p{
	color:#fff;
	font-size:15px;
	font-weight:400;
	line-height: 1.6em;
}
.footer-left p  a{
	color:#fff;
}
.footer-left p  a:hover{
	color: #97262A;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.footer-left h3 {
	color: #fff;
	font-size: 1.8em;
	font-weight: 700;
	  margin: 0 0 5% 0;
}
.footer-left ul {
	padding: 0;
}
.footer-left ul li{
	list-style:none;
	display:inline-block;
	margin-right:10px;
}
.footer-left ul li a span{
	background:url(../images/social-icons.png) no-repeat;
	width:30px;
	height:30px;
	display:block;
}
.footer-left ul li a span:hover{
	transform: rotatey(360deg);
	-webkit-transform: rotatey(360deg);
	-moz-transform: rotatey(360deg);
	-o-transform: rotatey(360deg);
	-ms-transform: rotatey(360deg);
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.footer-left ul li a span.fb{
	background-position:0px 0px;
}
.footer-left ul li a span.twit{
	background-position:-30px 0px;
}
.footer-left ul li a span.google{
	background-position:-60px 0px;
}
.footer-left ul li a span.pin{
	background-position:-90px 0px;
}
.footer-left p span{
	display:block;
}



















	